<div>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Modify</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
      @for (id of postIds; track $index) {
        <tr [title]="'Shipment: ' + (shipDate | date:'medium')"
            (mouseenter)="getShipmentDate(id)"
            (focus)="getShipmentDate(id)">
          <td>{{ id }}</td>
          <td>
            <button (click)="updateOrder(id)">Modify</button>
          </td>
          <td>
            <button (click)="deleteOrder(id)">Delete</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
  <div>
    <label>API key:
      <input type="text" [value]="getApiKey()" (change)="setApiKey($event)">
    </label>
  </div>
</div>
