<hr/>
<div>
  <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="1" [dayTemplate]="t"
                  outsideDays="hidden"/>
  <ng-template #t let-date let-focused="focused">
	  <span
      class="custom-day"
      [class.focused]="focused"
      [class.range]="isDatepickerRange(date)"
      [class.faded]="isDatepickerHovered(date) || isDatepickerInside(date)"
      (mouseenter)="hoveredDate = date"
      (mouseleave)="hoveredDate = null"
    >
		  {{ date.day }}
	  </span>
  </ng-template>
  <div class="btn-group-vertical">
  <button class="btn btn-primary" (click)="getOrderIds(fromDate, toDate)">Refresh</button>
  <button class="btn btn-warning" (click)="clearCalendarAndGetOrderIds()">Default</button>
  </div>
  <hr/>

</div>
<div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Modify</th>
      <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
      @for (id of postIds; track $index) {
        <tr [title]="'Shipment: ' + (shipDate | date:'medium')"
            (mouseenter)="getShipmentDate(id)"
            (focus)="getShipmentDate(id)">
          <td>{{ id }}</td>
          <td>
            <button class="btn btn-primary" (click)="updateOrder(id)">Modify</button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="deleteOrder(id)">Delete</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
  <div>
    <label class="form-label">API key:
      <input class="form-text" type="text" [value]="getApiKey()" (change)="setApiKey($event)">
    </label>
  </div>
</div>
